<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Hemel"
        tools:targetApi="31">

        <!-- Act: Splash -->
        <activity
            android:name=".ActSplash"
            android:theme="@style/Base.Theme.Hemel"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Act: Main -->
        <activity
            android:name=".ActMain"
            android:exported="false"
            android:theme="@style/Base.Theme.Hemel"/>
        
        <!-- Act: Detail -->
        <activity
            android:name=".ActDetail"
            android:exported="false"
            android:theme="@style/Base.Theme.Hemel"/>

        <!-- Act: About -->
        <activity
            android:name=".ActAbout"
            android:exported="false"
            android:theme="@style/Base.Theme.Hemel"/>
    </application>

</manifest>